aenum==3.1.15 ; python_version >= "3.10" and python_version < "3.12"
astropy==5.2.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
contourpy==1.1.1 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
dust-extinction==1.2 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.43.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.0.0 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.12"
llvmlite==0.39.1 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.6.3 ; python_version >= "3.10" and python_version < "3.12"
numba==0.56.4 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.23.5 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.0.1 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.12"
pyerfa==2.0.0.3 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.21 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.12"
